.profile {
    padding: 3rem;
    color: #36454f;
  }
  .public-profile {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    box-shadow: 3px 3px 5px #dddd, -2px -2px 1px -1px #dddd;
    padding: 2.5rem;
  }
  .public-profile section {
    display: inline-flex;
    align-items: center;
  }
  
  .public-profile section div:first-child {
    width: 250px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .public-profile section div:last-child {
    font-weight: 600;
    font-size: 1.3rem;
  }
  .btn-edit {
      background-color: lightcoral;
      border: none;
      outline: none;
      padding: .2rem;
      border-radius: .25rem;
      font-size: 1.2rem;
      margin-top: 1rem;
      width: 150px;
  }
  
  .tabs {
      display: inline-flex;
      align-items: center;
      gap: .75rem;
  }
  
  .tab {
      background-color: #dbdbdb;
      border-radius: .2rem;
      padding: .5rem;
      font-size: 1.1rem;
      cursor: pointer;
  }
  
  .tab.selected {
      background-color: #c4a2a2;
  }