.restaurantList {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  /* list-style: decimal; */
}

.searchBarContainer{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.searchForm{
  width: 70%;
}

.filters{
  width: 30%;
}

button{
  margin-bottom: 10px;
}