/* Add the necessary styles for responsiveness */
#navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav_left,
  .nav_right {
    display: flex;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    float: right;
  }
  .buttons button{
    height: 50px;
    margin: 5px;
    margin-right: 5px;
    background-color: rgba(100, 100, 100, 0.5);
  }


  .navbar-collapse{
    justify-content: flex-end;
  }

  .show {
    height: 80px;
  }

  .navbar-toggler{
    background-color: rgba(75, 73, 73, 0.4);
    
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .navbar_container {
      flex-direction: column;
    }

    .navbar_brand{
        height: 80px;
    }
  
    .nav_right {
      margin-top: 10px;
    }

    .buttons button{
        height: 50px;
        width: 80px;
        text-align: center;
        margin: 5px;
        padding: 0;
    }

  }