.profile-card {
    box-shadow: 1px 2px 3px 1px #ddd;
    padding: 1.2rem;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dp {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightblue;
    display: inline-grid;
    place-items: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.btn-copy {
    background-color: green;
    color: #fff;
    border-radius: .25rem;
    outline: none;
    border: none;
    padding: .35rem 1.2rem;
}