h1{
    margin: 20px;
}

.reviewCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.allReviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addReviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer{
    margin: 10px;
    padding: 10px;
    width: 60%;
}

form input, form label, form select{
    margin-top: 5px;
}

form button{
    margin: 10px 0px;
    width: 200px;
}

.postForm{
    display: flex;
    flex-direction: column;
}

.postButton{

    margin-top: 20px;

}

.allergySection{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.allergySection select{
    width: 50%;
}


.allergySection button{
    width: 30%;
    margin-left: 20px;
    height: 40px;
}

.addAllergy{
    display: flex;
}

